.skeleton {
    background: linear-gradient(
        90deg,
        #c8c8c8 25%,
        #f8f8f8 50%,
        #c8c8c8 75%
    );
    background-size: 200% 100%;
    animation: shimmer 3s infinite linear;
}

.skeleton-image {
    margin: 10px;
    width: 90%;
    height: 313px;
    border-radius: 5px;
}

.skeleton-item-image {
    height: 456px;
    width: 300px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 313px; /* mismo alto que tus portadas */
    overflow: hidden;
}

.product-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 300ms ease;
}

.product-image.loaded {
    opacity: 1;
}

.skeleton-text {
    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;
}

.title .skeleton-text {
    height: 3rem;
    margin: 1.5rem 0;
}

.skeleton-author {
    width: 80%;
    height: 1rem;
    margin-bottom: 2rem;
}

.title .skeleton-author {
    width: 40%;
    height: 2rem;
    margin-bottom: 1.5rem;
}

.title .skeleton-author:last-child {
    margin-bottom: 90px;
}

.skeleton-price {
    width: 40%;
    height: 1rem;
    margin-bottom: .5rem;
}

.skeleton-h2 {
    width: 15%;
    height: 2rem;
    margin-bottom: 1rem;
}

.skeleton-p {
    width: 100%;
    height: 1rem;
    margin-bottom: 0.7rem;
}

.skeleton-p:last-child {
    width: 60%;
}

.skeleton-button {
    width: 100%;
    height: 38px;
    border: none !important;
}

.skeleton-counter {
    width: 100%;
    height: 200px;
}

@keyframes shimmer {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}